.Dashboard {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  .header {
    background-color: RGB(12, 108, 182);
    height: 73px;

    &__nav {
      overflow-x: auto;
      scrollbar-width: none;
      background-color: #fff;
      padding-top: 15px;
      padding-bottom: 10px;
      padding-left: 20px;
      border-radius: 10px;

      &::-webkit-scrollbar {
        height: 0;
        opacity: 0;
      }

      ul {
        display: flex;
        width: fit-content;

        li {
          list-style-type: none;
          width: fit-content;
          flex-grow: 0;
          flex-shrink: 0;
          margin-right: 50px;
          border-bottom: 1px solid RGB(12, 108, 182);
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 5px;

          &:hover {
            background-color: RGB(12, 108, 182);
          }

          @media (max-width: 767px) {
            margin-right: 20px;
          }

          &:first-child {
            // margin-right: 0;
          }

          a {
            text-decoration: none;
            width: fit-content;
            display: inline-block;
            font-size: 20px;
            color: RGB(12, 108, 182);

            &:hover {
              background-color: RGB(12, 108, 182);
              color: white;
            }

            @media (max-width: 767px) {
              font-size: 14px;
            }
          }
        }
      }
    }

    &__exit {
      margin-left: 20px;
      font-size: 20px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 5px;
      padding-top: 5px;
      background-color: inherit;
      border: 0;
      color: #fff;
      border-bottom: 1px solid #fff;

      @media (max-width: 767px) {
        font-size: 14px;
      }

      &:hover {
        color: yellow;
        border-bottom: 1px solid yellow;
      }
    }

    .central-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
  }

  .main {
    flex: 1 1 auto;
    padding-top: 10px;
    padding-bottom: 10px;

    .central-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .table-wrapper {
    table {
      font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
      font-size: 20px;
      background: inherit;
      // max-width: 70%;
      width: 100%;
      border-collapse: collapse;
      text-align: center;
    }
    th {
      font-weight: normal;
      color: #039;
      border-bottom: 2px solid #6678b1;
      padding: 10px 8px;
    }
    td {
      color: #669;
      padding: 9px 8px;
      transition: 0.3s linear;

      .button-table {
        font-size: 12px;
        margin-right: 5px;

        background-color: inherit;
        border: 0;
        border-bottom: 2px solid #6678b1;
        color: #669;
        outline: 0;

        &:hover {
          border-bottom: 2px solid rgb(255, 255, 255);
        }

        &:active {
          border-bottom: 2px solid rgb(255, 0, 0);
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
    tr:hover td {
      color: #6699ff;
    }
  }
}
